<div id="container">
    <div id="content">
        <?php
            if(!empty($this->nuked_records))
                echo "NUKED: " . $this->nuked_records . 'records'
        ?>
        <form action="" method="post">
            <fieldset>
                <legend>NUKE!</legend>
                <button name="nuke" value="nuke" type="submit" class="nuke-button">NUKE!</button>
            </fieldset>
        </form>
    </div>
</div>