<div id="container">
    <div id="content">
        <!--BOOKS SECTION-->
        <table class="element-table">
            <tr>
                <th colspan="7" class="table-main-header">BOOKS</th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Pages</th>
                <th>Copies</th>
                <th>Year of publishment</th>
                <th>Laguage version</th>
                <th>Original`s language</th>
            </tr>
            <?php
            if(!empty($this->view_data['elements']['books'])){
                $i=1;
                foreach ($this->view_data['elements']['books'] as $book){
                    echo '<tr>
                        <td>'. $i .'</td>
                        <td>'.$book["name"].'</td>
                        <td>'.$book["volume"].'</td>
                        <td>'.$book["copies"].'</td>
                        <td>'.$book["release_year"].'</td>
                        <td>'.$book["additional_info"]["lang"].'</td>
                        <td>'.$book["additional_info"]["orig_lang"].'</td>
                    </tr>';
                    $i++;
                }
            }else{
                echo '<tr>
                    <td colspan="7">
                        0 records found!
                    </td>
                </tr>';
            }

            ?>
        </table>

        <!--NEWSPAPERS SECTION-->
        <table class="element-table">
            <tr>
                <th colspan="6" class="table-main-header">NEWSPAPERS</th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Number</th>
                <th>Pages</th>
                <th>Copies</th>
                <th>Year of publishment</th>
            </tr>
            <?php
            if(!empty($this->view_data['elements']['newspapers'])){
                $i=1;
                foreach ($this->view_data['elements']['newspapers'] as $newspaper){
                    echo '<tr>
                            <td>'. $i .'</td>
                            <td>'.$newspaper["name"].'</td>
                            <td>'.$newspaper["additional_info"]["number"].'</td>
                            <td>'.$newspaper["volume"].'</td>
                            <td>'.$newspaper["copies"].'</td>
                            <td>'.$newspaper["release_year"].'</td>
                        </tr>';
                    $i++;
                }
            }else{
                echo '<tr>
                    <td colspan="6">
                        0 records found!
                    </td>
                </tr>';
            }
            ?>
        </table>

        <!--POSTERS SECTION-->
        <table class="element-table">
            <tr>
                <th colspan="5" class="table-main-header">POSTERS</th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Size</th>
                <th>Copies</th>
                <th>Year of publishment</th>
            </tr>
            <?php
            if(!empty($this->view_data['elements']['posters'])){
                $i=1;
                foreach ($this->view_data['elements']['posters'] as $poster){
                    echo '<tr>
                        <td>'. $i .'</td>
                        <td>'.$poster["name"].'</td>
                        <td>'.$poster["volume"].'</td>
                        <td>'.$poster["copies"].'</td>
                        <td>'.$poster["release_year"].'</td>
                    </tr>';
                    $i++;
                }
            }else{
                echo '<tr>
                    <td colspan="5">
                        0 records found!
                    </td>
                </tr>';
            }



            ?>
        </table>
        <div class="center">
            <div class="content-2col">
                <table class="stats-table">
                    <tr>
                        <th>Unique elements: </th>
                        <td>
                            <?php
                            echo $this->view_data['statistics']['unique_elements'];
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Copies overall: </th>
                        <td>
                            <?php
                            echo $this->view_data['statistics']['copies'];
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Books amount: </th>
                        <td>
                            <?php
                            echo $this->view_data['statistics']['books'];
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Newspapers amount: </th>
                        <td>
                            <?php
                            echo $this->view_data['statistics']['newspapers'];
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Posters amount: </th>
                        <td>
                            <?php
                            echo $this->view_data['statistics']['posters'];
                            ?>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content-2col">
                <!--ADD ELEMENT FORM-->
                <form action="" method="post" class="form-add" target="_top">
                    <fieldset>
                        <legend>
                    <span class="content-header">
                        Create new Element!
                    </span>
                        </legend>
                        <label>
                            <input type="text" name="element[name]" placeholder="Title">
                        </label>
                        <label>
                            <select name="element[type]" placeholder="Title">
                                <option>-- choose one --</option>
                                <?php
                                foreach (ELEMENTS as $ELEMENT)
                                    echo '<option value="'.$ELEMENT.'">'.$ELEMENT.'</option>'
                                ?>
                            </select>
                        </label>
                    </fieldset>
                    <button type="submit" value="1">CREATE!</button>
                </form>
            </div>
            <span style="clear: both"></span>
        </div>
    </div>
</div>