ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #818181;
}

ul.nav-bar li {
    float: left;
}

ul.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav-bar li a:hover {
    background-color: #545454;
}

ul.nav-bar li a.active:hover {
    background-color: #2e8b;
}

ul.nav-bar li .active {
    background-color: seagreen;
}

body{
    margin: 0 auto;
    padding: 0;
}

#container {
    width: 100%;
    background-color: #a9a9a9;
    margin: 0;
}

#content {
    width: 70%;
    min-height: 900px;
    background-color: #d3d3d3;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.element-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.element-table th {
    border: 1px solid black;
    border-bottom: 0;
}

.element-table table, tr, td {
    border: 1px solid black;
}

.table-main-header {
    font-size: large;
}

.footer-div {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #a9a9a9;
}

.content-header {
    font-size: larger;
}

.content-2col {
    float: left;
}

.center {
    margin-left: inherit;
    margin-right: auto;
    text-align: center;
}

.form-add {
    margin-left: 100px;
}