<?php
    $action = $this->getAction();
?>
<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/default.css">
    <title><?php echo (isset($this->page_title)) ? $this->page_title : 'Welcome to my site!'?></title>
</head>
<body>
<ul class="nav-bar">
    <li><a <?php echo $action=="index" ? 'class="active"' :'';?> href="/home">Home</a></li>
    <li><a <?php echo $action=="delete" ?  'class="active"' :'';?> href="/home/delete">Delete records</a></li>
</ul>
</body>
</html>
